:root {
    --text-color:#d4d4d4;
    --header-text-color:#22303d;
    --header-background:#ee6671;
    --border-color:#999999;
    --hover-color:#fffefb27;
    --massage-back:#fffefb;
    --body-background:#22303d;
    --delete-btn-color:#22303d;
    --selection-bg:#f6f6f6;
    --selection-color:#22303d;
    --light-green:#22e98c;
    --light-green-hover:#2acc80;

    --delete-warn-color:#fffefb;
}
i {  
    filter: invert() saturate(0%) brightness(100%) sepia(20%);
}
.app-logo {
    background: url(../img/full-logo-darkMode.svg) no-repeat;
    width: 140px;
    height: 45px;
    filter: none;
}

@media (max-width:768px) {
    .app-logo {
        background: url(../img/logo-darkMode.svg) no-repeat !important;
        margin-left: 6px;
        width: 57px !important;
    }
}
@media (max-width:425px) {
    .app-logo {
        background: url(../img/logo-darkMode.svg) no-repeat !important;
        margin-left: 6px;
        width: 40px !important;
        margin-top: 45px !important;
    }
}