i {
    width: 23px;
    height: 23px;
    background-size: 100%;
    background-repeat: no-repeat !important;
    display: block;
}
.side-bar-ico {
    margin-right: 20px;
    min-width: 23px;
    min-height: 23px;
}
.fi-rr-settings {
    background: url(../assets/icons/fi-rr-settings.svg);
}
.fi-rr-home {
    background: url(../assets/icons/fi-rr-home.svg);
}
.fi-rr-bookmark-sidebar {
    background: url(../assets/icons/fi-rr-bookmark.svg);
}
.fi-rr-info {
    background: url(../assets/icons/fi-rr-info.svg);
}

.fi-rr-search {
    background: url(../assets/icons/fi-rr-search.svg);
    margin-right: 0;
    padding: 0;
    display: flex;
    filter: none;
}
.fi-rr-plus {
    background: url(../assets/icons/fi-rr-plus.svg) no-repeat;
    margin: 0;
    filter: none !important;
}
.fi-rr-pencil {
    background: url(../assets/icons/fi-rr-pencil.svg);
}
.fi-rr-trash {
    background: url(../assets/icons/fi-rr-trash.svg);
}
.fi-rr-bookmark-todo-part {
    background: url(../assets/icons/fi-rr-bookmark.svg);
    width: 23px;
    height: 23px;
}
.fi-rr-globe {
    background: url(../assets/icons/fi-rr-globe.svg);
    margin-right: 4px;
    filter: none;
}
.fi-rr-copy-alt {
    background: url(../assets/icons/fi-rr-copy-alt.svg);
}
.fi-rr-check {
    width: 26px;
    height: 26px;
    background: url(../assets/icons/check.svg) 100% no-repeat;
    margin:0 12px auto 7px;
    filter: none !important;
}
.fi-rr-x-icon {
    width: 26px;
    height: 26px;
    background: url(../assets/icons/x-icon.svg) 100% no-repeat;
    margin:9px 12px auto 7px;
    filter: none !important;
}
.fi-rr-danger-icon {
    width: 55px;
    height: 55px;
    background: url(../assets/icons/danger-icon.svg) 100% no-repeat;
    filter: none !important;
}
.fi-rr-angle-small-left {
    background: url(../assets/icons/fi-rr-angle-small-right.svg);
    transform: rotate(180deg);
}
.fi-rr-angle-small-right {
    background: url(../assets/icons/fi-rr-angle-small-right.svg);
}