<span id="about-page-text">
    <span class="about-page-part">
        <div id="about-page-p1">
            <p style="margin-bottom:10px">Connect With Me :</p>
            <span>Email: <a href=mailto:erfangharib5@gmail.com?subject='subject text'>erfangharib5@gmail.com</a></span>
            <span>Instagram: <a href="https://www.instagram.com/___erfan_gh___/">@___erfan_gh___</a></span>
            <span>Telegram: <a href="https://t.me/ERFAN_web_dev">@ERFAN_web_dev</a></span>
        </div>

        <div>
            <p style="margin:20px 0 13px 0;">Share App Link With Friends :</p>
            <div id="copy-link-box">
                <input type="text" value="${window.location.href}" id="copy-link-inp" readonly />
                <button id="copy-link-btn" title="copy" onclick="copy_to_clip_board()"><i
                        class="fi-rr-copy-alt"></i></button>
            </div>
        </div>
    </span>

    <p id="copy-right">Developed and Designed by Erfan Gharib <br>All Rights Reserved ©2021-2022</p>
</span>