<span id="main-top-part-add-ToDo">
    <div id="add-ToDo-part">
        <textarea id="add-ToDo-input" placeholder="Type your note.." spellcheck="false"></textarea>
        <span id="add-ToDo-btn" onclick="create_todo__show_popUp()"><i class="fi-rr-plus"></i></span>
    </div>

    <div id="slider">
        <button class="slider-btn" onclick="slider_left_angle()"><i class="fi-rr-angle-small-left"></i></button>
        <button class="slider-btn" style="box-shadow: -3px 0 10px #22303d1f;margin-left: auto;" onclick="slider_right_angle()"><i class="fi-rr-angle-small-right"></i></button>
        <span id="slider-child" style="left: 0;">
            <span class="slider-child-part fourth"></span>
            <span class="slider-child-part third"></span>
            <span class="slider-child-part second"></span>
            <span class="slider-child-part first"></span>            
        </span>
    </div> 
</span>

<span id="main-bottom-part-added-note">
    <p id="no-added-toDo-text">No to do note added yet</p>
</span>