<div id="setting-page">
    <h2 style="margin-bottom: 3px;">Setting</h2>
    <div id="set-font-size-part">
        <h3>Set Font Size</h3>
        <span>
            <h4>header</h4>
            <div class="skiptranslate">
                <label class="font-size-checkBox-label">
                    <input type="checkbox" class="font-size-check-box-0" checked>
                    <span class="-check"></span> <b class="font-size">17px</b>
                </label>
    
                <label class="font-size-checkBox-label">
                    <input type="checkbox" class="font-size-check-box-0">
                    <span class="-check"></span> <b class="font-size">19px</b>
                </label>
    
                <label class="font-size-checkBox-label">
                    <input type="checkbox" class="font-size-check-box-0">
                    <span class="-check"></span> <b class="font-size">21px</b>
                </label>
            </div>
        </span>
    
        <span id="side-bar-font-size">
            <h4>side bar</h4>
            <div class="skiptranslate">
                <label class="font-size-checkBox-label">
                    <input type="checkbox" class="font-size-check-box-1">
                    <span class="-check"></span> <b class="font-size">17px</b>
                </label>
    
                <label class="font-size-checkBox-label">
                    <input type="checkbox" class="font-size-check-box-1" checked>
                    <span class="-check"></span> <b class="font-size">19px</b>
                </label>
    
                <label class="font-size-checkBox-label">
                    <input type="checkbox" class="font-size-check-box-1">
                    <span class="-check"></span> <b class="font-size">21px</b>
                </label>
            </div>
        </span>
    
        <span class="skiptranslate">
            <h4>todo note</h4>
            <div>
                <label class="font-size-checkBox-label">
                    <input type="checkbox" class="font-size-check-box-2" checked>
                    <span class="-check"></span> <b class="font-size">17px</b>
                </label>
    
                <label class="font-size-checkBox-label">
                    <input type="checkbox" class="font-size-check-box-2">
                    <span class="-check"></span> <b class="font-size">19px</b>
                </label>
    
                <label class="font-size-checkBox-label">
                    <input type="checkbox" class="font-size-check-box-2">
                    <span class="-check"></span> <b class="font-size">21px</b>
                </label>
            </div>
        </span>
    </div>
    
    <span class="border"></span>
    
    <div id="setting-theme-part">
        <h3 style="grid-area:headline;">App Themes</h3>
        <div>
            <figure style="grid-area:default;" class="chose-theme-part-option background">
                <img src="./assets/image/light.svg" height="95px" alt="Default theme preview">
                <figcaption>Light</figcaption>
            </figure>
    
            <figure style="grid-area:dark;" class="chose-theme-part-option">
                <img src="./assets/image/dark.svg" height="95px" alt="Dark theme preview">
                <figcaption>Dark</figcaption>
            </figure>
    
            <figure style="grid-area:neomorphism;font-size:22px;" class="chose-theme-part-option">
                <img src="./assets/image/glassmorphism.svg" height="95px" alt="Neomorphism theme preview">
                <figcaption>Glassmorphism</figcaption>
            </figure>
        </div>
    </div>
    
    <span class="border margin"></span>
    
    <div id="delete-all-data-box">
        <h3 style="display: inline;">Delete All Data</h3>
        <button onclick="delete_all_data()" id="delete-data-btn">Delete</button> 
    </div>
    </div>